@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --soft_red: hsl(0, 94%, 66%);
    --soft_blue: hsl(231, 69%, 60%);
    --grayish_blue: hsl(229, 8%, 60%);
    --dark_lue: hsl(229, 31%, 21%);
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
                  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 0;
}

h1,
h2,
h3 {
    color: var(--dark_lue);
}

p {
    color: var(--grayish_blue);
}

img {
    width: 100%;
}

body {
    font-size: 1.125rem;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}


.main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.container {
    padding: 0 9rem;
}

/* Headings */

.feature__heading,
.tab__heading,
.download__heading,
.faq__heading {
    font-weight: 500;
}

/* Titles */
.hero__title {
    margin: 1.5rem 0;
}

.feature__title,
.download__title,
.faq__title {
    width: 35rem;
    margin: 1rem auto 3rem;
}

/* Nav section */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.nav__list-items {
    display: flex;
    align-items: center;
    gap: 3rem;
    text-transform: uppercase;
    padding: 3rem 0;
}

.nav__list-link {
    font-size: 0.75rem;
    color: var(--dark_lue);
    transition: .4s ease;
    letter-spacing: 2px;
}

.nav__list-link:hover {
    color: var(--soft_red);
}

.btn {
    padding: 0.8rem 1.8rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    transition: .3s ease;
}

.btn:hover {
    background-color: transparent;
}

.nav__btn {
    padding: 0.6rem 1.8rem;
    color: var(--white);
    background-color: var(--soft_red);
    text-transform: uppercase;
    border: 2px solid var(--soft_red);
    transition: .3s ease;
}

.nav__btn:hover {
    color: var(--soft_red);
}

/* Hero section */
.hero__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8rem;
}

.hero__content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero__image {
    flex: 1;
}

.hero__image img {
    width: 100%;
}

.hero__content::after {
    content: '';
    position: absolute;
    top: 18rem;
    right: 0;
    width: 40%;
    height: 20rem;
    background-color: var(--soft_blue);
    z-index: -1;
    border-bottom-left-radius: 150px;
}

.hero__heading {
    font-size: 3rem;
    font-weight: 500;
}

.button__container {
    display: flex;
    gap: 1rem;
}

.hero__btn-chrome {
    color: var(--white);
    background-color: var(--soft_blue);
    border: 2px solid var(--soft_blue);
}

.hero__btn-chrome:hover {
    color: var(--soft_blue);
}

.hero__btn-firefox {
    color: var(--dark_lue);
    border: 2px solid transparent;
}

.hero__btn-firefox:hover {
    border: 2px solid var(--dark_lue);
}

/* Features section */

.features__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;
}

.features__content {
    text-align: center;
}

.bookmark_image {
    width: 50%;
}

.tabs_container::after {
    content: '';
    position: absolute;
    top: 67rem;
    left: 0;
    width: 40%;
    height: 21rem;
    background-color: var(--soft_blue);
    z-index: -1;
    border-bottom-right-radius: 150px;
}

.tabs__list-items {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--grayish_blue);
    width: 45rem;
    margin: 0 auto 5rem;
}

.tab {
    color: var(--grayish_blue);
    margin-bottom: 2rem;
    position: relative;
    transition: 0.3s ease;
}

.tab:hover,
.tab.active {
    color: var(--dark_lue);
    cursor: pointer;
}

.tab.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 3px;
    background-color: var(--soft_red);
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
    margin: 0 auto;
}

.tab__content {
   width: 45%; 
}

.tab__title {
    margin: 1.2rem 0 1.6rem;
}

/* Download section */
.download__section {
    margin-bottom: 12rem;
}
.download__content {
    text-align: center;
}

.extensions__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    border-radius: 10px;
    max-width: 245px;
}

.card-firefox {
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
}

.card-opera {
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
}

.card_logo {
    max-width: 90px;
    margin: 2.5rem auto 1.5rem;
}

.card__heading {
    font-size: 1.1rem;
    font-weight: 500;
}

.card_text {
    font-size: 0.8rem;
    color: var(--grayish_blue);
    margin: 0.6rem 0 1rem;
}

.card_btn {
    margin: 1rem 0;
}

.dot img {
    width: 100%
}

/* FAQ section  */
.faq__section {
    margin-bottom: 8rem;
}

.faq__content {
    text-align: center;
    margin: 0 auto;
}

.faq__title {
    width: 47%;
}

.accordion_container {
    width: 50%;
    margin: 0 auto;
}

.accordion__list-items {
    margin-bottom: 3rem;
}

.accordion__list-item {
    border-bottom: 1px solid var(--grayish_blue);
    padding: 1rem 0;
    position: relative;
}

.accordion__list-item:first-child {
    border-top: 1px solid var(--grayish_blue);
}

.accordion__list-item:nth-of-type(1) {
    animation-delay: 0.5s;
  }

.accordion__list-item:nth-of-type(2) {
    animation-delay: 0.75s;
}

.accordion__list-item:nth-of-type(3) {
    animation-delay: 1s;
}

.accordion__list-item:nth-of-type(4) {
    animation-delay: 1.25s;
}

.accordion__heading {
    font-weight: 400;
    font-size: 1rem;
    color: var(--dark_lue);
    transition: .3s ease;
}

.accordion__heading:hover {
    color: var(--soft_red);
}

.accordion__title {
    position: relative;
    color: var(--grayish_blue);
    line-height: 2rem;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.arrow {
    position: absolute;
    transform: translate(-6px, 0);
    -webkit-transform: translate(-6px, 0); 
    margin-right: 1rem;
    right: 0;
}

.arrow:before, 
.arrow:after {
    content: "";
    position: absolute;
    background-color: var(--soft_red);
    width: 3px;
    height: 13px;
}

.arrow:before {
    transform: translate(-4px, 0) rotate(45deg);
    -webkit-transform: translate(-4px, 0) rotate(45deg);
}

.arrow:after {
    transform: translate(4px, 0) rotate(-45deg);
    -webkit-transform: translate(4px, 0) rotate(-45deg);
}

.checkbox[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}


.checkbox[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
}

.checkbox[type=checkbox]:checked ~ i:before {
    transform: translate(4px, 0) rotate(45deg);
    -webkit-transform: translate(4px, 0) rotate(45deg);
    background-color: var(--soft_blue);
}

.checkbox[type=checkbox]:checked ~ i:after {
    transform: translate(-4px, 0) rotate(-45deg);
    -webkit-transform: translate(-4px, 0) rotate(-45deg);
    background-color: var(--soft_blue);
}

.transition, 
.arrow:before, 
.arrow:after, 
.accordion__title {
    transition: all 0.25s ease-in-out;
}
  
.flipIn, ul li, h1 {
    animation: flipdown 0.5s ease both;
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }
    5% {
        opacity: 1;
    }
    80% {
        transform: rotateX(8deg);
    }
    83% {
        transform: rotateX(6deg);
    }
    92% {
        transform: rotateX(-3deg);
    }
    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}

.faq_btn {
    display: flex;
    margin: 0 auto;
}

/* Contact section */
.contact__section {
    background-color: var(--soft_blue);
    max-width: 1440px;
    margin: 0 auto;
}

.contact__content {
    display: flex;
    flex-direction: column;
    align-items: center
}

.contact__title {
    color: var(--white);
    font-size: 0.8rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 3rem auto 2rem;
}

.contact__heading {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
    width: 30%;
    text-align: center;
}

.contact__form {
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
}

.email {
    border-radius: 5px;
    outline: none;
    padding: 0 2rem 0 .6rem;
    color: var(--grayish_blue);
    font-weight: 500;
}

.email:hover {
    outline: 2px solid var(--soft_red);
}

.email-btn {
    text-transform: initial;
    padding: 0.6rem 1.2rem;
}

.email-btn:hover {
    background-color: var(--white);
}

/* Footer */

.footer {
    max-width: 1440px;
    background-color: var(--dark_lue);
    margin: 0 auto;
}

.footer__wrapper {
    padding: 0 9rem
}

.footer__nav-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.footer_items {
    padding: 1.5rem 0;
}

.footer-link {
    color: var(--white);
    letter-spacing: 2px;
}

.logo {
    display: flex;
}

.social__links {
    display: flex;
    gap: 2rem;
}

.social__links i {
    font-size: 1.6rem;
    color: var(--white);
    transition: .3s ease;
}

.social__links i:hover {
    color: var(--soft_red);
    cursor: pointer;
    transform: scale(1.1);
}


